body { background: #84a5f1; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 45px; display: flex; }
.block-product-0 { color: #f8768b; font-size: 15px; margin-bottom: 5px; }
.block-product-1 { color: #546431; font-size: 21px; margin-bottom: 5px; }
.block-router-2 { color: #94d1ed; font-size: 15px; margin-bottom: 5px; }
.block-metrics-3 { color: #23cb37; font-size: 12px; margin-bottom: 5px; }
.block-database-4 { color: #15ea04; font-size: 12px; margin-bottom: 5px; }